USE [master]
GO
/****** Object:  Database [HAP_DB]    Script Date: 19/02/2025 02:32:53 a. m. ******/
CREATE DATABASE [HAP_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HAP_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HAP_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HAP_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HAP_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HAP_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HAP_DB]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 19/02/2025 02:32:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[doctorId] [int] IDENTITY(1,1) NOT NULL,
	[doctorName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[doctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalByDoctor]    Script Date: 19/02/2025 02:32:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalByDoctor](
	[hospitalByDoctorId] [int] IDENTITY(1,1) NOT NULL,
	[doctorId] [int] NOT NULL,
	[hospitalId] [int] NOT NULL,
 CONSTRAINT [PK_HospitalByDoctor] PRIMARY KEY CLUSTERED 
(
	[hospitalByDoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 19/02/2025 02:32:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[hospitalId] [int] IDENTITY(1,1) NOT NULL,
	[hospitalName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Hospitals] PRIMARY KEY CLUSTERED 
(
	[hospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 19/02/2025 02:32:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patientId] [int] IDENTITY(1,1) NOT NULL,
	[hospitalId] [int] NOT NULL,
	[patientName] [varchar](50) NOT NULL,
	[patientAge] [int] NOT NULL,
	[patientEmail] [varchar](50) NOT NULL,
	[patientSymptom] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[patientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HospitalByDoctor]  WITH CHECK ADD  CONSTRAINT [FK_HospitalByDoctor_Doctors] FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctors] ([doctorId])
GO
ALTER TABLE [dbo].[HospitalByDoctor] CHECK CONSTRAINT [FK_HospitalByDoctor_Doctors]
GO
ALTER TABLE [dbo].[HospitalByDoctor]  WITH CHECK ADD  CONSTRAINT [FK_HospitalByDoctor_Hospitals] FOREIGN KEY([hospitalId])
REFERENCES [dbo].[Hospitals] ([hospitalId])
GO
ALTER TABLE [dbo].[HospitalByDoctor] CHECK CONSTRAINT [FK_HospitalByDoctor_Hospitals]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Hospitals] FOREIGN KEY([hospitalId])
REFERENCES [dbo].[Hospitals] ([hospitalId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Hospitals]
GO
USE [master]
GO
